SOLANA_WS_URL=wss://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
LOG_LEVEL=INFO
STATE_PATH=.state/parser_state.json
ENABLED_ADAPTERS=raydium
MAX_TX_AGE_SEC=1800
# examples: pumpfun | jupiter | meteora | raydium,pumpfun,jupiter,meteora
